*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    box-shadow: 3px 3px 5px 1px #757474;

    div.logo {
        display: flex;
        align-items: center;
        flex: 5 1 400px;
        margin-left: 2rem;       

        img{
            width: 10vw;
            height: 7vw;
        }
    }        

    nav{
        flex: 2 1 400px;
        
        ul{
           display: flex;
           list-style-type: none;
           justify-content: space-around; 
           li{
            a {
                color:white;
                text-decoration: none;
                font-size: 1.35rem;
              }
            }
        }
    }
}

main {
    min-height: 100vh;
    // background-image: url(../images/111.jpg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    


    .contact-header{
        display: inline-flex;
        
        .contact-section {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .contact-info {
              color: #fff;
              max-width: 500px;
              line-height: 65px;
              padding-left: 50px;
              font-size: 18px;  
            
        
                .contact-info i {
                    margin-right: 20px;
                    font-size: 25px;
                }
            }     
        }

        .contact-form {
            display: flex;
            flex-wrap: nowrap;
            // min-width: 700px;
            margin-right: 15vw;
        }
    
        .contact-info, .contact-form {
                flex: 1;
        
            .contact {
                h2 {
                    color: #fff;
                    text-align: center;
                    font-size: 35px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            
            
                input.text-box {
                    
                    background: #000;
                    color: #fff;
                    border: none;
                    // width: calc(50% - 10px);
                    height: 50px;
                    padding: 12px;
                    font-size: 15px;
                    border-radius: 5px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    margin-bottom: 20px;
                    opacity: 0.9;
                }
    
                input.text-box:first-child {
                    margin-right: 15px;
                }
    
                textarea {
                    background-color: #000;
                    color: #fff;
                    border: none;
                    width: 100%;
                    padding: 12px;
                    font-size: 15px;
                    min-height: 200px;
                    max-height: 400px;
                    resize: vertical;
                    border-radius: 5px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    margin-bottom: 20px;
                    opacity: 0.9;
                    display: inline-block;
                }
    
                .send-btn {
                    float: left;
                    background: #2e94e3;
                    color: #fff;
                    border: none;
                    width: 120px;
                    height: 40px;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.3s;
                    transition-property: background;
                }
    
                .send-btn:hover {
                    background: #0582e3;
    
                }
            }   
        }    
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);


    div.logo {
        display: flex;
        align-items: center;
        img {
            width: 6vw;
            height: 6vw;
        }
    }
    nav {
        width: 30%;
        ul {
            display: flex;
            list-style-type: none;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            

            li {
                flex-basis: 90px;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                    margin: 0.2rem;
                }
            }
        }
    }

    section.links {
        a {
            margin: 0rem 1rem;
            img {
                width: 5vw;
                height: 5vw;
            }
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3ddde; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #90b9cd; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2f6e98; 
}

@media screen and (max-width: 550px) {
    header {
        div.logo {
            margin-left: 0.5rem;
            img {
                width: 15vw;
                height: 15vw;
            }
        }
    }
    footer {
        div.logo {
            img {
                width: 15vw;
                height: 15vw;
            }
        }
        section.links {
            margin-top: 1rem;
            a {
                img {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}


@media screen and (max-width: 700px){
    main{
        section.second{
            section.cards {
                div.card {
                    img{
                        width: 40vw;
                        height: 40vw;
                    }
                }
            }
        }
    }
}