*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    box-shadow: 3px 3px 5px 1px #757474;

    div.logo {
        display: flex;
        align-items: center;
        flex: 5 1 400px;
        margin-left: 2rem;       

        img{
            width: 10vw;
            height: 7vw;
        }
    }        

    nav{
        flex: 2 1 400px;
        
        ul{
           display: flex;
           list-style-type: none;
           justify-content: space-around; 
           li{
            a {
                color:white;
                text-decoration: none;
                font-size: 1.35rem;
              }
            }
        }
    }
}

// *{
//     margin: 0px;
//     padding: 0px;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
// }

// body{
//     background-color: white;
//     font-family: 新細明體;
// }

main {
    section.backImage{
    height: 80vh;
    width: 100%;
    background-image: url(../images/封面.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 0;    
    }
    
    
    div#wrapper {
        width: 350px;
        height: 250px;
        border-radius: 3px;
        border: 2px solid #cccccc;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -125px;
        margin-left: -175px;
        background-color: rgba(0, 0, 0, 0.3);

        header {
            color: black;
            background-color: #ececec;
            padding: 10px 15px;
            z-index: 0;
        }

        div#content {
            padding: 15px;
            
            form {
                
                div.form-group {
                    margin-bottom: 15px;
                }

                

                    input.form-control {
                    display: block;
                    width: 100%;
                    height: 34px;
                    font-size: 1em;
                    color: #555555;
                    background-color: white;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 5px;
                    }

                

                    .btn{
                    display: block;
                    color: white;
                    background-color: brown;
                    padding: 10px;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 15px;
                    text-align: center;
                

                    .btn:hover{
                        transform: scale(1.05);
                    }
                    .btn:active{
                        transform: scale(1);
                        box-sizing: inset 0 0 10px 1px;
                    }
                }    
            }   
        }        
    }
}   

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);


    div.logo {
        display: flex;
        align-items: center;
        img {
            width: 6vw;
            height: 6vw;
        }
    }
    nav {
        width: 30%;
        ul {
            display: flex;
            list-style-type: none;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            

            li {
                flex-basis: 90px;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                    margin: 0.2rem;
                }
            }
        }
    }

    section.links {
        a {
            margin: 0rem 1rem;
            img {
                width: 5vw;
                height: 5vw;
            }
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3ddde; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #90b9cd; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2f6e98; 
}

@media screen and (max-width: 550px) {
    header {
        div.logo {
            margin-left: 0.5rem;
            img {
                width: 15vw;
                height: 15vw;
            }
        }
    }
    footer {
        div.logo {
            img {
                width: 15vw;
                height: 15vw;
            }
        }
        section.links {
            margin-top: 1rem;
            a {
                img {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}


@media screen and (max-width: 700px){
    main{
        section.second{
            section.cards {
                div.card {
                    img{
                        width: 40vw;
                        height: 40vw;
                    }
                }
            }
        }
    }
}