*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    box-shadow: 3px 3px 5px 1px #757474;

    div.logo {
        display: flex;
        align-items: center;
        flex: 5 1 400px;
        margin-left: 2rem;       

        img{
            width: 10vw;
            height: 7vw;
        }
    }        

    nav{
        flex: 2 1 400px;
        
        ul{
           display: flex;
           list-style-type: none;
           justify-content: space-around; 
           li{
            a {
                color:white;
                text-decoration: none;
                font-size: 1.35rem;
              }
            }
        }
    }
}

main{
    section.backImage{
        min-height: 90vh;
        width: 100%;
        background-image: url(../images/封面.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h3 {
            font-size: 3.5rem;
            color: white;
            margin: 2rem 0rem;
        }
        // 改變滑鼠游標 (cursor: pointer)
        button.start {
            background-color: #b55d6a;
            padding: 0.75rem 1.5rem;
            font-size: 1.5rem;
            color: white;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
        }


// 同層覆蓋前後順序( z-index )數字大在前面
        div.filter{
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            min-height: 90vh;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    section.second {
        // min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #ede1cb;

        h2 {
            font-size: 2rem;
            margin: 2rem 0rem;
        }

        section.cards {
            display: flex;
            // border: 2px solid red;
            width: 80%;
            min-height: 80vh;
            flex-wrap: wrap;

            div.card {
                // border: 2px solid blue;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 1rem;
                flex: 1 1 300px;

            div.image-container {
                overflow: hidden;
                width: 15vw;
                height: 15vw;
                border-radius: 50%;

                img {
                    // margin: 1rem 0rem;
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50%;
                    transition: all 0.2s;
                }
                img:hover {
                    transform: scale(1.2);
                }

            }

                

                h4 {
                    font-size: 2rem;
                    margin: 1rem 0rem;
                }

                p {
                    font-size: 1.25rem;
                }

                a {
                    margin: 1rem 0rem;
                    text-decoration: none;
                    padding: 1rem 1.5rem;
                    background-color: #09777d;
                    color: white;
                    font-size: 1.25rem;
                }
            }
        }
    }
}    

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);


    div.logo {
        display: flex;
        align-items: center;
        img {
            width: 6vw;
            height: 6vw;
        }
    }
    nav {
        width: 30%;
        ul {
            display: flex;
            list-style-type: none;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            

            li {
                flex-basis: 90px;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                    margin: 0.2rem;
                }
            }
        }
    }

    section.links {
        a {
            margin: 0rem 1rem;
            img {
                width: 5vw;
                height: 5vw;
            }
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3ddde; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #90b9cd; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2f6e98; 
}

@media screen and (max-width: 550px) {
    header {
        div.logo {
            margin-left: 0.5rem;
            img {
                width: 15vw;
                height: 15vw;
            }
        }
    }
    footer {
        div.logo {
            img {
                width: 15vw;
                height: 15vw;
            }
        }
        section.links {
            margin-top: 1rem;
            a {
                img {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}


@media screen and (max-width: 700px){
    main{
        section.second{
            section.cards {
                div.card {
                    img{
                        width: 40vw;
                        height: 40vw;
                    }
                }
            }
        }
    }
}